@import url(main.css);

/*
----------------------------------------------------------------
body
-----------------------------------------------------------------
*/

body {
    width: 100vw;
    height: 100vh;
}

.wrapper{
    
}

/*----------------------------------------------------------------
sidebar
-----------------------------------------------------------------*/

#serchUser {
    background-color: rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
content
------------------------------------------------------------------*/

div.content_top_bar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 0 0;
    width: 100%;
}

ul.menu {
    margin: 0;
    padding: 0px 0px 0px 0px;
}

.content_top_bar_left {
    float: left;
}

.content_top_bar_left li {
    border-left: none;
    border-right: 1px solid white;
}

ul.menu li {
    float: right;
    font-size: 13px;
    text-align: center;
    width: 90px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

.content_top_bar_right li {
    border-left: 1px solid white;
}

ul.menu a {
    color: black;
    text-decoration: none;
    display: block;
    background-color: transparent;
}

.tooltips {
    display: none;
    position: absolute;
    bottom: -2.8em;
    left: 0.3em;
    z-index: 9999;
    padding: 0.3em 0.5em;
    color: black;
    background: lightgray;
    border-radius: 0.5em;
    font-size: 12px;
}

.tooltips:after {
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 0.5em;
    top: -8px;
    border-top: 8px solid transparent;
    border-left: 8px solid lightgray;
}

ul.menu li:hover .tooltips {
    display: block;
}


ul.menu a:hover {
    background-color: white;
    color: gray;
}

ul.menu ul {
    margin: 0px;
    padding: 0px;
    width: 90px;
    display: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#ddmenu li:nth-child(1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 89px;
}

#time,
#size,
#desc {
    color: transparent;
}

ul.menu ul li {
    width: 89px;
    border-top: 1px solid white;
    background-color: white;
}

ul.menu ul li a {
    line-height: 20px;
    font-weight: normal;
}

ul.menu ul li a:hover {
    background-color: white;
    color: gray;
}


div.content {
    min-height: 200px;
    position: absolute;
    top: 120px;
    left: 175px;
    width: -webkit-calc(100% - 185px);
    min-width: 540px;
    height: -webkit-calc(100% - 130px);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

#right_con {
    border-radius: 0 8px 0 0;
    line-height: 25px;
}

/*------------------------------------------------------
main
-----------------------------------------------------------*/
#main {
    margin: 25px 0 0 0;
}

.folder {
    height: 120px;
    width: 120px;
    margin: 10px 20px 0px 20px;
}

.file {
    height: 100px;
    width: 120px;
    margin: 20px 20px 10px 20px;
}

.person{
    width: 100%;
    background-color: lightgray;
    border-bottom: 2px solid black;
    
}

.person:hover{
    background-color: gray;
}

.file:hover,
.folder:hover {
    opacity: 0.6;
}

.node {
    position: relative;
    float: left;
    height: 170px;
    width: 160px;
    z-index: 0;
    background-color: white;
    
}

.node:hover{
    z-index: 1;
}

input[type="checkbox"] {
    display: none;
}

.check_css {
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    position: absolute;
    top: 15px;
    right: 0px;
    display: inline-block;
    padding: 0 0 0 42px;
    vertical-align: middle;
    cursor: pointer;
}

.check_css:hover:after {
    border-color: #0171bd;
}

.check_css:after {
    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    margin-top: -10px;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    content: '';
}

.check_css:before {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 50%;
    left: 21px;
    display: block;
    margin-top: -7px;
    width: 5px;
    height: 9px;
    border-right: 3px solid #0171bd;
    border-bottom: 3px solid #0171bd;
    content: '';
    opacity: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=checkbox]:checked + .check_css:before {
    opacity: 1;
}

.filename {
    font-size: 14px;
    font-weight: 8px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    background-color: white;
}

/*-------------------------------------------------------------
rightclick
--------------------------------------------------------------*/

.submenu {
    background-color: gainsboro;
    border-radius: 2px;
    display: none;
    width: 90px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    z-index: 1000;
}

.submenu.show {
    display: block;
}

.submenu ul {
    margin: 0;
    width: 80px;;
    list-style: none;
    padding: 2px 5px;
}

.submenu ul li {
    color: #333;
    font-size: 13px;
}

.submenu ul li a{
    text-decoration: none;
    color: black;
    width: 80px;
}

.submenu ul li:first-child{
    font-weight: 600;
    border-bottom: 2px solid black;
}

.submenu ul li a:hover{
    background-color: darkgray;
}
