/*
-------------------------------------------------------------
header
-------------------------------------------------------------
*/

font.M{
    color: orange;
}

font.D{
    color: lightgreen;
}

header h1{
    margin:0;
    font-size: 40px;   
    width: 170px;
    height: 70px;  
}

header h1:hover{
     transform: rotate(-12deg);
}

header hr{
    margin: 2px;
}

header a{
    text-decoration: none;   
}

header a:visited{
    color: black;
}

/*
-----------------------------------------------------------------
body
-----------------------------------------------------------------
*/

body{
    margin: 0;
    min-width: 710px;
}

input[type="submit"]{
    outline: 0;
}

input[type="text"],input[type="password"]{
    padding: 2px;
}

a{
    text-decoration: none;
}