@import url(style.css);

body{
    max-height: 400px;
    max-width: 350px;
    overflow: hidden;
}

.main{
    width: 330px;
}

header{
    height: 50px;
}
body header h1{
    font-size: 30px;
}

fieldset{
    border-radius: 20px;
    border-color: rgba(0,0,0,0.3);
    padding: 0 0 10px 0px;
    width: 340px;
    height: 280px;
}

hr{
    margin: 0;
    padding: 0;
}

p{
    padding: 5px;
    width: 280px;
    text-align: center;
    margin: auto;
}

input[type="file"]{
    display: none;
}

input[type="text"]{
    margin: 0;
    height: 20px;
    width: 238px;
    font-size: 13px;
}

label.fileSelect{
    margin: 0;
    color: black;
    font-size: 14px;
    background-color: darkgray;
    border: 1px solid black;
    padding: 2px;
    height: 22px;
}

#filePosition{
    position: absolute;
    top: 120px;
    left: 25px;
}

.fileSelect{
    position: absolute;
    top: 120px;
    left: 270px;
}


#text{
    position: absolute;
    top: 170px;
    left: 10px;
}

#filename{
    position: absolute;
    top: 200px;
    left: 25px;
    width: 285px;
}

#newFolder{
    position: absolute;
    top: 280px;
    left: 105px;
}

input[type="submit"] {
    padding: 6px 20px;
    border-radius: 10px;
    font-size: 14px;
    background-color: whitesmoke;
    border: 4px solid rgba(0,0,0,0.3);
    margin: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgba(0,0,0,0.3);
    border: 3px solid black;
}

.radioButton{
    position: absolute;
    top: 240px;
    left: 105px;
    
}