

input[type="button"]{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color:gray;
    border: solid 2px black;
    border-radius: 3px;
    transition: .4s;
}

input{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.hori{
    float: left;
    margin: 20px;
}

#serchBox{
    margin: 30px;
    width: 400px;
}